<po-page-default
  p-title="Bem vindo, Padawan!"
  [p-breadcrumb]="breadcrumbConfiguration"
>
  <po-container>
    <h2 class="po-font-title">Sobre esse Blog</h2>

    <p class="po-font-text">
      Esse <b><i>Blog</i></b> é minha contribuição com a comunidade (: <br />
      Compartilhar conhecimento via escrita é a forma como melhor faço isso hoje em dia. Para isso, utilizo plataformas
      como o <a href="https://medium.com/@joao.henrique">Medium.</a> 
    </p>

    <h2 class="po-font-subtitle">Então para que esse Blog?</h2>
    
    <p class="po-font-text">
      Boa pergunta Padawan! O Medium e também outras plataformas do gênero, costumam limitar a quantidade de leituras dos usuários,
      com o objetivo de cobrar assinaturas para que as pessoas possam acessar o conteúdo de forma ilimitada. Apesar de não achar isso algo
      Errado da parte desses blogs, não gostaria de ter esse limite em minhas contribuições com a comunidade, por isso esse Blog foi criado.
    </p>

    <p class="po-font-text">
      Além disso, todo dev precisa ter um ambiente para fazer seus testes mirabolantes, e o github permitir você hospedar páginas estáticas, é um presente lindo não?
      Principalmente para quem é focado em Frontend, que hoje é minha realidade. Então esse espaço servirá para ser meu laboratório e também um meio de comunicar experiências em Javascript, 
      CSS, Angular, React, Devops, Docker, Linux e que mais me der na telha. Se estiver interessado, pegue seu sabre de luz e navegue por aí.

      <img
        class="po-mt-1"
        width="70"
        height="70"
        src="assets/light-saber.svg"
        alt="Imagem ilustrativa de um sabre de luz"
      />
    </p>

    <h2 class="po-font-title">Sobre mim</h2>

    <po-avatar
      class="po-mt-2 po-mb-2"
      p-size="xl"
      p-src="assets/pf.jpg"
    ></po-avatar>

    <p class="po-font-text">
      Meu nome é João Henrique de Oliveira Júnior, ou simplesmente João. Sou atualmente
      <i>analista de sistemas</i> na <a href="https://www.totvs.com/">TOTVS</a>, focado no momento em <i>Frontend</i> numa solução
      logística.
    </p>

    <p class="po-font-text">
      Sou técnico e bacharel em Sistemas de informação pelo Instituto Federal Catarinense, acho que sempre quis fazer isso como carreira na verdade. Tento
      ser bem minucioso para não escrever um conteúdo de má qualidade. Sou super acessível e você pode me chamar nos meios de contato abaixo para tirar dúvidas.
    </p>

    <p class="po-font-text">
      Sou apaixonado por tecnologia e super curioso, querendo saber como funcionam as coisas nos detalhes. Uso Linux a mais de 10 anos, então não sei quase NADA de windows.
      Meu esporte favorito é o Basquete e torço para o Toronto Raptors! Tenho uma esposa maravilhosa que me inspira muito, dois gatos travessos, e acima de tudo, Jesus no coração, a quem admiro
      e pertenço para sempre.
    </p>

    <p>Divirta-se no blog! #TMJ</p>

    <h2 class="po-font-title">Contatos</h2>

    Me encontre nos seguintes meios:

    <ul>
      <li class="po-pt-1">
        <span class="po-icon po-icon-mail po-pr-1"></span>
        <a href="mailto:j.h.o.junior12@gmail.com">
          Email - j.h.o.junior12@gmail.com
        </a>
      </li>
      <li class="po-pt-1">
        <span class="po-icon po-icon-user po-pr-1"></span>
        <a href="https://www.linkedin.com/in/jota-oliveira/">Linkedin</a>
      </li>
      <li class="po-pt-1">
        <span class="po-icon po-icon-social-github po-pr-1"></span>
        <a href="https://github.com/jota-oliveira">Github</a>
      </li>
      <li class="po-pt-1">
        <span class="po-icon po-icon-news po-pr-1"></span>
        <a href="https://medium.com/@joao.henrique">Medium</a>
      </li>
    </ul>

  </po-container>

  <span class="po-font-text-smaller">
    Icons made by <a href="https://www.flaticon.com/authors/payungkead" title="Payungkead">Payungkead</a> from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a>
  </span>
</po-page-default>

<!-- <markdown
  class="po-font-text"
  emoji
  keepMarkup
  markdown
  autolinker
  ngPreserveWhitespaces
  src="assets/artigos/artigo2.md"
></markdown> -->
